<ng-template #content let-modal>
	<form #seleccionCobertura="ngForm" [formGroup]="selCobForm" (ngSubmit)="onSubmitSelCob(seleccionCobertura, modal)">
		<div class="modal-header">
			<h4 class="modal-title">Selección de cobertura</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	
		<div class="modal-body">
			<div class="alert alert-dismissible alert-info">
		 		Cobertura seleccionada: <strong>{{ coberturaSeleccionada.nombre }}</strong>
			</div>

			<input type="hidden" name="idCobertura" formControlName="idCobertura" />

	  		<div class="form-group mb-1 required">
				<label class="pt-2" for="fechaVigencia">Fecha de vigencia</label>
				<input type="date" name="fechaVigencia" formControlName="fechaVigencia" id="fechaVigencia" class="form-control">
	  		</div>

			<div *ngIf="fechaVigencia.invalid && (fechaVigencia.dirty || fechaVigencia.touched)" class="invalid-feedback d-block mt-1 mb-0">
				<div *ngIf="fechaVigencia.errors.required">
					El campo de fecha de vigencia es obligatorio.
				</div>
				<div *ngIf="fechaVigencia.errors.validateDate">
					La fecha de vigencia debe estar entre mañana y un mes a partir de hoy.
				</div>
			</div>

	  		<div class="form-group mb-1 required">
				<label class="pt-2" for="modalidadPago">Modalidad de pago</label>

				<select class="form-control" id="modalidadPago" formControlName="modalidadPago" name="modalidadPago" (change)='setFormaPago($event.target.value)'>
					<option value="{{ enum.key }}" *ngFor="let enum of ModalidadPago | keyvalue">{{ enum.value }}</option>
				</select>
	  		</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-light" (click)="cancelCobertura(seleccionCobertura, modal)">Cancelar</button>
			<button type="submit" [disabled]="!seleccionCobertura.valid || !loadingService.isHidden()" class="btn btn-primary">Aceptar</button>
		</div>
  	</form>
</ng-template>

<div *ngIf="!hasResponsePost2()">
	<h4 class="mb-3">Tipos de cobertura disponibles</h4>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 mb-2" *ngFor='let cobertura of coberturas'>
				<div class="card h-100">
		  			<div class="card-header">{{cobertura.nombre}}</div>
		  
	  				<div class="card-body">
						<p class="card-text">{{cobertura.descripcion}}</p>
		  			</div>
		  
		  			<div class="card-footer text-muted text-center">
						<button type="submit" class="btn btn-primary btn-block" (click)='seleccionarCobertura(cobertura, content)'>Seleccionar</button>
		  			</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="hasResponsePost2()">
	<h4 class="mb-3">Confirmación de datos</h4>

	<div class="card mb-3 w-50 m-auto">
	  <div class="card-body">
	    <p class="lead mb-0">{{ resumenPoliza.apellidoTitular }}, {{ resumenPoliza.nombreTitular }}</p>
	  </div>
	  <ul class="list-group list-group-flush">
	  	<li class="list-group-item">
		    <p class="lead">{{ resumenPoliza.marca }} {{ resumenPoliza.modelo }}</p>

		    <h6 class="card-subtitle mt-1"><strong>Motor</strong>: {{ resumenPoliza.motor }}</h6>
		    <h6 class="card-subtitle mt-1"><strong>Chasis</strong>: {{ resumenPoliza.chasis }}</h6>
		    <h6 class="card-subtitle mt-1"><strong>Patente</strong> {{ resumenPoliza.patente ? resumenPoliza.patente : "en trámite" }}</h6>
		</li>
	    <li class="list-group-item">
	    	<strong>Vigencia</strong>: {{ resumenPoliza.inicioVigencia | date: 'dd/MM/yyyy' }} hasta {{ resumenPoliza.finVigencia | date: 'dd/MM/yyyy' }}
	    </li>
	    <li class="list-group-item">
	    	<strong>Suma asegurada</strong>: ${{ resumenPoliza.sumaAsegurada }}<br />
	    	<strong>Premio</strong>: ${{ resumenPoliza.premio }}<br />
	    	<strong>Importe por descuentos</strong>: ${{ resumenPoliza.descuentos }}
	    </li>
	    <li class="list-group-item">
	    	<strong>Último día de pago</strong>: {{ resumenPoliza.ultimoDiaPago | date: 'dd/MM/yyyy' }}
		</li>
		<li class="list-group-item" *ngIf="polizaValues.modalidadPago == 'MENSUAL'">
			<div *ngFor="let cuota of resumenPoliza.cuotas; let row = index">
				<strong>Cuota {{ row + 1 }} / {{ resumenPoliza.cuotas.length }}</strong>: ${{ cuota.importe }} - <strong>Vencimiento: </strong> {{ cuota.fechaVencimiento | date: 'dd/MM/yyyy' }}
			</div>	
		</li>	
	    <li class="list-group-item text-right">
	    	<strong>Monto total a abonar</strong>: ${{ resumenPoliza.montoTotal }}
	    </li>
	  </ul>
	  <div class="card-footer text-muted text-center">
		<button type="button" (click)="endStepCancelar()" class="btn btn-secondary mr-1">Cancelar</button>
		<button type="button" (click)="endStepCambiarCobertura()" class="btn btn-secondary mr-1">Cambiar cobertura</button>
		<button type="button" (click)="endStepGenerar()" class="btn btn-primary mr-1">Generar póliza</button>
	  </div>
	</div>
</div>
