<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" routerLink="/">El Asegurado</a>
	
	<button class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" [class.active]="isCurrentRouter('/')">
				<a class="nav-link" routerLink="/">Inicio</a>
			</li>

			<li *ngIf="hasPermission('ProductorDeSeguros')" class="nav-item" [class.active]="isCurrentRouter('/alta-poliza')">
				<a routerLink="/alta-poliza" class="nav-link">Alta de póliza</a>
			</li>

			<li *ngIf="hasPermission('ProductorDeSeguros')" class="nav-item" [class.active]="isCurrentRouter('/alta-cliente')">
				<a routerLink="/alta-cliente" class="nav-link">Alta de cliente</a>
			</li>

			<li *ngIf="hasPermission('ProductorDeSeguros')" class="nav-item" [class.active]="isCurrentRouter('/consultar-poliza')">
				<a routerLink="/consultar-poliza" class="nav-link">Consultar póliza</a>
			</li>

			<li *ngIf="hasPermission('Cobrador')" class="nav-item" [class.active]="isCurrentRouter('/registrar-pago-poliza')">
				<a routerLink="/registrar-pago-poliza" class="nav-link">Registrar Pago</a>
			</li>

			<li *ngIf="hasPermission('ProductorDeSeguros')" class="nav-item" [class.active]="isCurrentRouter('/consultar-clientes')">
				<a routerLink="/consultar-clientes" class="nav-link">Consultar clientes</a>
			</li>

			<li *ngIf="hasPermission('ProductorDeSeguros')" class="nav-item" [class.active]="isCurrentRouter('/actualizar-factores')">
				<a routerLink="/actualizar-factores" class="nav-link">Actualizar factores</a>
			</li>
			<!-- <li class="nav-item"><a *ngIf="isUserLoggedIn()" routerLink="/" class="nav-link">View Employees</a></li>
			<li class="nav-item"><a *ngIf="isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Add New Employee</a></li> -->
		</ul>

		<div class="my-2 my-lg-0">
			<ul class="navbar-nav mr-auto" ngbDropdown *ngIf="isUserLoggedIn()">
				<li class="nav-item dropdown">
					<span class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle data-toggle="dropdown" id="download" aria-expanded="false"><i class="fa fa-user"></i> {{ getUserName() }} <span class="caret"></span></span>
				
					<div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="download">
						<span *ngIf="!cssDark" ngbDropdownItem (click)="toggleTheme()" class="dropdown-item cursor-pointer"><i class="fa fa-moon-o"></i> Modo oscuro (beta)</span>
						<span *ngIf="cssDark" ngbDropdownItem (click)="toggleTheme()" class="dropdown-item cursor-pointer"><i class="fa fa-sun-o"></i> Modo claro</span>
						<span ngbDropdownItem (click)="userLogOut()" class="dropdown-item cursor-pointer"><i class="fa fa-sign-out"></i> Cerrar sesión</span>
					</div>
				</li>
			</ul>

			<a *ngIf="!isUserLoggedIn()" routerLink="/login" class="btn btn-info">Iniciar sesión</a>
		</div>
	</div>
</nav>
