<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" routerLink="/">El Asegurado</a>
	
	<button class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" [class.active]="isCurrentRouter('/')">
				<a class="nav-link" routerLink="/">Home</a>
			</li>

			<li class="nav-item" [class.active]="isCurrentRouter('/users')">
				<a routerLink="/users" class="nav-link">List Users</a>
			</li>

			<li class="nav-item" [class.active]="isCurrentRouter('/alta-poliza')">
				<a routerLink="/alta-poliza" class="nav-link">Alta de póliza</a>
			</li>

			<li class="nav-item" [class.active]="isCurrentRouter('/alta-cliente')">
				<a routerLink="/alta-cliente" class="nav-link">Alta de cliente</a>
			</li>

			<li class="nav-item" [class.active]="isCurrentRouter('/consultar-poliza')">
				<a routerLink="/consultar-poliza" class="nav-link">Consultar póliza</a>
			</li>

			<li class="nav-item" [class.active]="isCurrentRouter('/registrar-pago')">
				<a routerLink="/registrar-pago" class="nav-link">Registrar Pago</a>
			</li>

			<li class="nav-item" [class.active]="isCurrentRouter('/buscar-poliza')">
				<a routerLink="/buscar-poliza" class="nav-link">Buscar póliza</a>
			</li>

			<li class="nav-item" [class.active]="isCurrentRouter('/consultar-clientes')">
				<a routerLink="/consultar-clientes" class="nav-link">Consultar clientes</a>
			</li>
			<!-- <li class="nav-item"><a *ngIf="isUserLoggedIn()" routerLink="/" class="nav-link">View Employees</a></li>
			<li class="nav-item"><a *ngIf="isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Add New Employee</a></li> -->
		</ul>

		<ul class="navbar-nav float-right">
			<li class="nav-item"><a *ngIf="!isUserLoggedIn()" routerLink="/login" class="btn btn-info">Iniciar sesión</a></li>
			<li class="nav-item"><a (click)="userLogOut()" *ngIf="isUserLoggedIn()" routerLink="/logout" class="btn btn-danger">Cerrar sesión</a></li>
		</ul>
	</div>
</nav>
