<div class="login-form mr-auto ml-auto">
	<h2 class="text-center">Iniciar sesión</h2>
	<p class="lead text-center">Por favor, ingrese con los datos que la administración le ha asignado.</p>
	<div *ngIf="this.invalidLogin" class="alert alert-dismissible alert-danger">
		{{ error }}
	</div>

	<form #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(lForm)">
		<div class="form-group">
			<input type="text" formControlName="nombreUsuario" class="form-control" placeholder="Nombre de usuario" name="nombreUsuario" />
		</div>
		<div class="form-group">
			<input type="password" formControlName="password" class="form-control" placeholder="Contraseña" name="password" />
		</div>
		<div class="form-group">
			<button type="submit" [disabled]="!loginForm.valid || !loadingService.isHidden()" class="btn btn-primary btn-block">Iniciar sesión</button>
		</div>
	</form>
</div>
