<div id="collapseExample" [ngbCollapse]="!isCollapsed || nextStep">
	<app-buscarcliente (emitter)="processCliente($event)" ></app-buscarcliente>
</div>

<form #apForm="ngForm" [formGroup]="altaPolizaForm" (ngSubmit)="onSubmit(apForm)" [ngbCollapse]="nextStep">
	<div class="row">
		<div class="col-sm">
			<h4 class="mt-3">Datos del cliente <span (click)="isCollapsed = !isCollapsed" class="btn btn-secondary btn-sm float-right">Buscar</span></h4>

			<div class="form-group mb-1">
				<label class="control-label pt-2" for="idcliente">Número de cliente</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">#</div>
					</div>
					<input type="number" readonly="readonly" formControlName="idcliente" name="idcliente" id="idcliente" class="form-control unclickable">
				</div>
			</div>

			<div class="form-row">
				<div class="col form-group mb-1">
					<label class="control-label pt-2" for="nombre">Nombre(s)</label>
					<div class="input-group">
					<input type="text" formControlName="nombre" name="nombre" id="nombre" class="form-control">
					</div>
				</div>

				<div class="col form-group mb-1">
					<label class="control-label pt-2" for="apellido">Apellido(s)</label>
					<div class="input-group">
					<input type="text" formControlName="apellido" name="apellido" id="apellido" class="form-control">
					</div>
				</div>
			</div>

			<div class="form-group mb-1">
				<label class="control-label pt-2" for="apellido">Tipo y nro. de documento</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">{{ cliente.documento.tipoDocumento }}</span>
					</div>
					<input type="text" formControlName="nroDocumento" class="form-control" name="nroDocumento" />
				</div>
			</div>

			<div class="form-group mb-1">
				<label class="control-label pt-2" for="direccion">Dirección</label>
				<div class="input-group">
				<input type="text" formControlName="direccion" name="direccion" id="direccion" class="form-control">
				</div>
			</div>
		</div>

		<div class="col-sm">
			<h4 class="mt-3">Datos del vehículo</h4>

			<div class="form-group mb-1 required">
				<label class="control-label pt-2" for="marca">Marca</label>
				<div class="input-group">
					<select formControlName="marca" name="marca" class="form-control mb-1">
						<option value="{{ marca.idMarca }}" *ngFor="let marca of marcas">{{ marca.nombre }}</option>
					</select>
				</div>
			</div>

			<div class="form-row">
				<div class="col form-group mb-1 required">
					<label class="control-label pt-2" for="modelo">Modelo</label>
					<div class="input-group">
						<select formControlName="modelo" name="modelo" class="form-control mb-1">
							<option value="{{ modelo.idModelo }}" *ngFor="let modelo of modelos">{{ modelo.nombre }}</option>
						</select>
					</div>
				</div>
				<div class="col form-group mb-1 required">
					<label class="control-label pt-2" for="anio">Año</label>
					<div class="input-group">
						<select formControlName="anio" name="anio" class="form-control mb-1">
							<option value="2010">2010</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group mb-1 required">
				<label class="control-label pt-2" for="motor">Motor</label>
				<div class="input-group">
				<input formControlName="motor" type="text" name="motor" id="motor" class="form-control">
				</div>
			</div>

			<div class="form-group mb-1 required">
				<label class="control-label pt-2" for="chasis">Chasis</label>
				<div class="input-group">
				<input formControlName="chasis" (input)="convertToUppercase('chasis')" type="text" name="chasis" id="chasis" class="form-control">
				</div>
			</div>

			<div *ngIf="chasis.invalid && (chasis.dirty || chasis.touched)" class="invalid-feedback d-block mt-1 mb-0">
				<div *ngIf="chasis.errors.pattern">
					El número de chasis no es válido.
				</div>
			</div>

			<div class="form-group">
				<label class="pt-2" for="patente">Patente del vehículo</label>
				<div class="input-group">
				<input formControlName="patente" (input)="convertToUppercase('patente')" type="text" name="patente" id="patente" class="form-control">
				</div>

				<div *ngIf="patente.invalid && (patente.dirty || patente.touched)" class="invalid-feedback d-block mt-1 mb-0">
					<div *ngIf="patente.errors.pattern">
						Si la patente está en trámite, dejar el campo vacío. Se debe respetar el formato de las patentes anteriores y posteriores a 2016.
					</div>
				</div>
			</div>

			<h6 class='mt-3'><strong>Domicilio de riesgo</strong></h6>

			<div class="form-group mb-1 required">
				<label class="control-label pt-2" for="provincia">Provincia</label>
				<div class="input-group">
					<select formControlName="provincia" name="provincia" class="form-control mb-1">
						<option value="{{ provincia.idProvincia }}" *ngFor="let provincia of provincias">{{ provincia.nombre }}</option>
					</select>
				</div>
			</div>

			<div class="form-group mb-1 required">
				<label class="control-label pt-2" for="localidad">Localidad</label>
				<div class="input-group">
					<select formControlName="localidad" name="localidad" class="form-control mb-1">
						<option value="{{ localidad.idLocalidad }}" *ngFor="let localidad of localidades">{{ localidad.nombre }}</option>
					</select>
				</div>
			</div>

		</div>
		<div class="col-sm">
			<h4 class="mt-3">Medidas de seguridad</h4>

			<ul class="checkbox-tags">
				<li>
					<input class="form-check-input" formControlName="seGuardaEnGarage" name="seGuardaEnGarage" type="checkbox" id="seGuardaEnGarage">
					<label class="form-check-label" for="seGuardaEnGarage">Se guarda en garage</label>
				</li>
				<li>
					<input class="form-check-input" formControlName="poseeAlarma" name="poseeAlarma" type="checkbox" id="poseeAlarma">
					<label class="form-check-label" for="poseeAlarma">Tiene alarma</label>
				</li>
				<li>
					<input class="form-check-input" formControlName="poseeRastreoVehicular" name="poseeRastreoVehicular" type="checkbox" id="poseeRastreoVehicular">
					<label class="form-check-label" for="poseeRastreoVehicular">Posee dispositivo de rastreo vehicular</label>
				</li>
				<li>
					<input class="form-check-input" formControlName="poseeTuercasAntirrobo" name="poseeTuercasAntirrobo" type="checkbox" id="poseeTuercasAntirrobo">
					<label class="form-check-label" for="poseeTuercasAntirrobo">Posee tuercas antirrobo en las cuatro ruedas</label>
				</li>
			</ul>

			<h6 class='mt-3 mb-3'><strong>Hijos</strong></h6>

			<app-hijos></app-hijos>

			<hr />

			<div class="form-group mt-3 mb-1 required">
				<label class="control-label pt-2" for="nroSiniestros">Nro. siniestros en el último año</label>
				<div class="input-group">
					<select formControlName="nroSiniestros" name="nroSiniestros" class="form-control mb-1">
						<option value="0">Ningún siniestro</option>
						<option value="1">1 siniestro</option>
						<option value="2">2 siniestros</option>
						<option value="3">Más de 2 siniestros</option>
					</select>
				</div>
			</div>

			<div class="form-group mt-3 mb-1">
				<label class="control-label pt-2" for="sumaAsegurada">Suma asegurada</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">$</div>
					</div>
					<input class="form-control" formControlName="sumaAsegurada" type="text" />
				</div>
			</div>
		</div>
	</div>
	<div class="text-right">
		<a routerLink="/" class="btn btn-secondary">Cancelar</a>
		<button [disabled]="!altaPolizaForm.valid || !loadingService.isHidden()" type="submit" class="btn btn-primary ml-2">Aceptar</button>
	</div>
</form> 

<app-tipocobertura [ngbCollapse]="!nextStep" [coberturas]="coberturasDisponibles"></app-tipocobertura>

<div [ngbCollapse]="!nextStep">
	<div class="d-flex flex-row-reverse" id='returnbtn'>
    	<button type="button" class="btn btn-secondary p-2" (click)='prevStep()'>Volver</button>
    </div>
</div>
