#ajaxLoading {
    background: #323232;
    width: 200px;
    padding: 15px;
    color: #fff;
    position: fixed;
    bottom: 15px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    z-index: 15000;
    left: 50%;
	margin-left: -75px;
}

ul.checkbox-tags {
    list-style: none;
    padding: 0;
}

ul.checkbox-tags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.checkbox-tags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.checkbox-tags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.checkbox-tags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
}

ul.checkbox-tags li input[type="checkbox"]:checked + label {
    border: 2px solid #12bbd4;
    background-color: #3498DB;
    color: #fff;
    transition: all .2s;
}

ul.checkbox-tags li input[type="checkbox"] {
  display: absolute;
}

ul.checkbox-tags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul.checkbox-tags li input[type="checkbox"]:focus + label {
  border: 2px solid #12bbd4;
}
