#nroPoliza{
    margin-left: 5px;
}
#vigenciaPoliza{
    margin-top: 88px;
}
.table{
    margin-top:20px;
}
#cuotaCheck{
    margin-left: 14px;
}
.cuotaCheckbox{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
}
.center{
    display: inline;
}
#montoPagar{
    margin-bottom: 5px;
    margin-left: 14px;
}
#montoAbonado{
    margin-left: 5px;
}
.medium-input{
    width: 60%;
}
#montoPagar2{
    margin-bottom: 5px;
    margin-left: 44px;
}
#montoAbonado2{
    margin-bottom: 5px;
    margin-left: 14px;
}
#vuelto{
    margin-left: 81px;
}