#nroPoliza{
    margin-left: 5px;
}
#vigenciaPoliza{
    margin-top: 88px;
}
.table{
    margin-top:20px;
}
#cuotaCheck{
    margin-left: 14px;
}
.cuotaCheckbox{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
}