<div class="pb-2 mt-4 mb-4 border-bottom">
	<h2>{{ title }}</h2>
</div>

<form #afcForm="ngForm" (ngSubmit)="onSubmit(afcForm)">
	<ngb-tabset justify="fill" [destroyOnHide]="false">
	  <ngb-tab title="Tipo de cobertura">
		<ng-template ngbTabContent>
			<div class="p-5">
				<div class="form-group row" *ngFor="let enum of TipoCobertura | keyvalue">
					<label for="{{ enum.key }}" class="col-sm-6 col-form-label">{{ enum.value }}</label>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<input type="text" [ngModel] name="{{ enum.key }}" id="{{ enum.key }}" class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	  </ngb-tab>
	  <ngb-tab title="Estadísticas de robo">
		<ng-template ngbTabContent>
			<div class="p-5">
				<div class="row" [formGroup]="estadisticasForm">
					<div class="col-5">
						<div class="form-group mb-1">
							<label class="control-label pt-2" for="marca">Marca</label>
							<div class="input-group">
								<select formControlName="marca" name="modelo" class="form-control mb-1 optional">
									<option id="selectMarca{{marca.idMarca}}" value="{{ marca.idMarca }}" *ngFor="let marca of marcas">{{ marca.nombre }}</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-5">
						<div class="form-group mb-1">
							<label class="control-label pt-2" for="modelo">Modelo</label>
							<div class="input-group">
								<select formControlName="modelo" name="modelo" class="form-control mb-1 optional">
									<option id="selectModelo{{modelo.idModelo}}" value="{{ modelo.idModelo }}" *ngFor="let modelo of modelos" >{{ modelo.nombre }}</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-2">
						<label class="control-label pt-2" for="addModelo">&nbsp;</label>
						<div class="input-group">
							<button name="addModelo" class="btn btn-outline-primary ml-2"><i class="fa fa-plus"></i> Añadir</button>
						</div>
					</div>
				</div>

				<table class="table table-hover mt-5 w-75 ml-auto mr-auto">
					<thead>
						<tr>
							<th scope="col">Marca y modelo</th>
							<th scope="col">Valor porcentual</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Marca modelo</td>
							<td>input</td>
						</tr>
					</tbody>
				</table>
			</div>
		</ng-template>
	  </ngb-tab>
	  <ngb-tab title="Domicilios de riesgo">
		<ng-template ngbTabContent>
			<div class="p-5">
				<div class="row" [formGroup]="domiciliosForm">
					<div class="col-5">
						<div class="form-group mb-1">
							<label class="control-label pt-2" for="provincia">Provincia</label>
							<div class="input-group">
								<select formControlName="provincia" name="provincia" class="form-control mb-1 optional">
									<option value="{{ provincia.idProvincia }}" *ngFor="let provincia of provincias">{{ provincia.nombre }}</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-5">
						<div class="form-group mb-1">
							<label class="control-label pt-2" for="localidad">Localidad</label>
							<div class="input-group">
								<select formControlName="localidad" name="localidad" class="form-control mb-1 optional">
									<option value="{{ localidad.idLocalidad }}" *ngFor="let localidad of localidades">{{ localidad.nombre }}</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-2">
						<label class="control-label pt-2" for="addLocalidad">&nbsp;</label>
						<div class="input-group">
							<button name="addLocalidad" class="btn btn-outline-primary ml-2"><i class="fa fa-plus"></i> Añadir</button>
						</div>
					</div>
				</div>

				<table class="table table-hover mt-5 w-75 ml-auto mr-auto">
					<thead>
						<tr>
							<th scope="col">Provincia y localidad</th>
							<th scope="col">Valor porcentual</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Provincia localidad</td>
							<td>input</td>
						</tr>
					</tbody>
				</table>
			</div>
		</ng-template>
	  </ngb-tab>
	  <ngb-tab title="Medidas de seguridad">
		<ng-template ngbTabContent>
			<div class="p-5">
				<div class="form-group row" *ngFor="let enum of MedidasSeguridad | keyvalue">
					<label for="{{ enum.key }}" class="col-sm-6 col-form-label">{{ enum.value }}</label>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<input type="text" [ngModel] name="{{ enum.key }}" id="{{ enum.key }}" class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	  </ngb-tab>
	  <ngb-tab title="Ajustes adicionales">
		<ng-template ngbTabContent>
			<div class="p-5">
				<div class="form-group row">
					<label for="ajusteKmRealizados" class="col-sm-6 col-form-label">Ajuste por kilómetros realizados (cada 10.000 km)</label>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<input type="text" [ngModel] id="ajusteKmRealizados" class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="ajusteSiniestros0" class="col-sm-6 col-form-label">Ajuste por cantidad de siniestros - sin siniestros</label>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<input type="text" [ngModel] name="ajusteSiniestros0" id="ajusteSiniestros0" class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="ajusteSiniestros1" class="col-sm-6 col-form-label">Ajuste por cantidad de siniestros - un siniestro</label>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<input type="text" [ngModel] name="ajusteSiniestros1" id="ajusteSiniestros1" class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="ajusteSiniestros2" class="col-sm-6 col-form-label">Ajuste por cantidad de siniestros - dos siniestros</label>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<input type="text" [ngModel] name="ajusteSiniestros2" id="ajusteSiniestros2" class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="ajusteSiniestros3" class="col-sm-6 col-form-label">Ajuste por cantidad de siniestros - más de dos siniestros</label>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<input type="text" [ngModel] name="ajusteSiniestros3" id="ajusteSiniestros3" class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="ajusteCantidadHijos" class="col-sm-6 col-form-label">Ajuste por cantidad de hijos (entre 18 y 30 años)</label>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<input type="text" [ngModel] name="ajusteCantidadHijos" id="ajusteCantidadHijos" class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="derechosEmision" class="col-sm-6 col-form-label">Derechos de emisión</label>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input type="text" [ngModel] name="derechosEmision" id="derechosEmision" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="descuentoUnidadAdicional" class="col-sm-6 col-form-label">Descuento por unidad adicional</label>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<input type="text" [ngModel] name="descuentoUnidadAdicional" id="descuentoUnidadAdicional" class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	  </ngb-tab>
	</ngb-tabset>

	<div class="text-right">
		<button type="button" class="btn btn-secondary">Cancelar</button>
		<button type="submit" class="btn btn-primary ml-2">Aceptar</button>
	</div>
</form>
