<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2>{{ title }}</h2>
</div>

<form #ccForm="ngForm" [formGroup]="consultarClientesForm" (ngSubmit)="onSubmit(ccForm)">
	<div class="row">      
		<div class="form-group col-sm-9 col-lg-4">
			<label class="pt-2" for="idCliente">Nro. de cliente</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">#</div>
				</div>
				<input type="text" formControlName="idCliente" name="idCliente" id="idCliente" class="form-control optional">
			</div>
		</div>
		<div class="form-group col-sm-9 col-lg-4">
			<label class="pt-2" for="nombre">Nombre</label>
			<div class="input-group">
				<input type="text" formControlName="nombre" name="nombre" id="nombre" class="form-control optional">
			</div>
		</div>
		<div class="form-group col-sm-9 col-lg-4">
			<label class="pt-2" for="apellido">Apellido</label>
			<div class="input-group">
				<input type="text" formControlName="apellido" name="apellido" id="apellido" class="form-control optional">
			</div>
		</div>
		<div class="form-group col-sm-9 col-lg-4">
			<label class="pt-2" for="tipoDocumento">Documento</label>
			
			<select name="tipoDocumento" formControlName="tipoDocumento" class="form-control optional" id="tipoDocumento">
				<option value="{{ enum.key }}" *ngFor="let enum of TipoDNI | keyvalue">{{ enum.key }}</option>
			</select>
		</div>
		<div class="form-group col-sm-9 col-lg-4">
			<label class="pt-2" for="numeroDocumento">Número de documento</label>
			<input type="number" formControlName="numeroDocumento" name="numeroDocumento" id="numeroDocumento" class="form-control optional dis-arrows">
		</div>
		<div class="form-group col-sm-9 col-lg-4">
			<label class="pt-2" for="condicionIva">Condición IVA</label>
			
			<select name="condicionIva" formControlName="condicionIva" class="form-control optional" id="condicionIva">
				<option value="{{ enum.key }}" *ngFor="let enum of CondicionIva | keyvalue">{{ enum.value }}</option>
			</select>
		</div>

		<button [disabled]="!isValidForm(ccForm) || !consultarClientesForm.valid || !loadingService.isHidden()" type="submit" class="btn btn-primary ml-auto pull-right" id="consultarClientes">Buscar</button>
	</div>
</form>

<div *ngIf="this.results.length" class="table-responsive mt-4">
	<table class="table">
		<thead>
			<tr>
				<th>Nro. cliente</th>
				<th>Apellido(s) y nombre(s)</th>
				<th>Tipo y nro. de documento</th>
				<th>CUIL</th>
				<th>Condición de IVA</th>
				<th>Correo electrónico</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>99-99999999</td>
				<td>Ferraro Trivelli, Giovani</td>
				<td>DNI 41405573</td>
				<td>20414055738</td>
				<td>Responsable Inscripto</td>
				<td>shiobi@ngamers.net</td>
			</tr>
		</tbody>
	</table>

	<div>
	  <ul class="pagination justify-content-center">
	    <li class="page-item disabled">
	      <a class="page-link" href="#">&laquo;</a>
	    </li>
	    <li class="page-item active">
	      <a class="page-link" href="#">1</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">2</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">3</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">4</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">5</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">&raquo;</a>
	    </li>
	  </ul>
	</div>
</div>
