<ng-template #content let-modal>
	<form #hijosForm="ngForm" [formGroup]="hijoForm" (ngSubmit)="onSubmitHijoDialog(hijosForm, modal)">
		<div class="modal-header">
			<h4 class="modal-title">Agregar hijo/a</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<div class="modal-body">
			<label class="pt-2" for="fechaNacimiento">Fecha de nacimiento</label>
			<input required type="date" (change)="calcularEdad()" name="fechaNacimiento" formControlName="fechaNacimiento" id="fechaNacimiento" class="form-control" name="fechaNacimiento">

			<div *ngIf="fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched)" class="invalid-feedback d-block mt-1 mb-0">
				<div *ngIf="fechaNacimiento.errors.required">
					El campo de fecha de nacimiento es obligatorio.
				</div>
			</div>

			<div *ngIf="!fechaNacimiento.invalid && !edadIsValid()" class="invalid-feedback d-block mt-1 mb-0">
				La edad debe estar entre 18 y 30 años.
			</div>
			
			<label class="pt-2" for="sexo">Sexo</label>
			<select required class="form-control" id="sexo" formControlName="sexo" name="sexo">
				<option value="{{ enum.key }}" *ngFor="let enum of Sexo | keyvalue">{{ enum.value }}</option>
			</select>

			<div *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)" class="invalid-feedback d-block mt-1 mb-0">
				<div *ngIf="sexo.errors.required">
					El campo de sexo es obligatorio.
				</div>
			</div>

			<label class="pt-2" for="estadoCivil">Estado civil</label>
			<select required class="form-control" formControlName="estadoCivil" id="estadoCivil" name="estadoCivil">
				<option value="{{ enum.key }}" *ngFor="let enum of EstadoCivil | keyvalue">{{ enum.value }}</option>
			</select>

			<div *ngIf="estadoCivil.invalid && (estadoCivil.dirty || estadoCivil.touched)" class="invalid-feedback d-block mt-1 mb-0">
				<div *ngIf="estadoCivil.errors.required">
					El campo de estado civil es obligatorio.
				</div>
			</div>
		</div>
		
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" (click)="cancelHijo(hijosForm, modal)">Cancelar</button>
			<button type="submit" [disabled]="!hijoForm.valid || !edadIsValid()" class="btn btn-primary">Aceptar</button>
		</div>
	</form>
</ng-template>

<div class="tabla-hijos">
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Edad</th>
				<th scope="col">E. Civil</th>
				<th scope="col">Sexo</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let hijo of hijos; let row = index">
				<td>{{hijo.edad}}</td>
				<td>{{hijo.estadoCivil}}</td>
				<td>{{hijo.sexo}}</td>
				<td> 
					<button type="button" class="btn btn-danger btn-sm" (click)='deleteHijo(row)'>Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="text-center">
	<button type="button" class="btn btn-primary" (click)='[openVerticallyCentered(content)]'>Agregar</button>
</div>
