<ng-template #content let-modal>
	<form #hijosForm="ngForm" (ngSubmit)="onSubmitHijoDialog(modal)">
		<div class="modal-header">
			<h4 class="modal-title">Agregar hijo/a</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<div class="modal-body">
			<label class="pt-2" for="fechaNacimiento">Fecha de nacimiento</label>
			<input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control" name="fechaNacimiento" [(ngModel)]="fechaNacimiento">
			
			<label class="pt-2" for="sexo">Sexo</label>
			<select class="form-control" id="sexo" name="sexo" [(ngModel)]="sexo">
				<option value="{{ enum.key }}" *ngFor="let enum of Sexo | keyvalue">{{ enum.value }}</option>
			</select>

			<label class="pt-2" for="estadoCivil">Estado civil</label>
			<select class="form-control" id="estadoCivil" name="estadoCivil" [(ngModel)]="estadoCivil">
				<option value="{{ enum.key }}" *ngFor="let enum of EstadoCivil | keyvalue">{{ enum.value }}</option>
			</select>
		</div>
		
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" (click)="modal.close('cancel')">Cancelar</button>
			<button type="submit" class="btn btn-primary">Aceptar</button>
		</div>
	</form>
</ng-template>

<div class="tabla-hijos">
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Edad</th>
				<th scope="col">E. Civil</th>
				<th scope="col">Sexo</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let hijo of hijos; let row = index">
				<td>{{hijo.edad}}</td>
				<td>{{hijo.estadoCivil}}</td>
				<td>{{hijo.sexo}}</td>
				<td> 
					<button type="button" class="btn btn-danger btn-sm" (click)='deleteHijo(row)'>Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="text-center">
	<button type="button" class="btn btn-primary" (click)='[openVerticallyCentered(content)]'>Agregar</button>
</div>
