<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- database connection properties -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://tpds.shiobi.me/tpds?useSSL=false</property>
        <property name="hibernate.connection.username">tpds2019</property>
        <property name="hibernate.connection.password">t4b6FsszKvZFFWjaqc65HWREJDetFrUM!</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>

		<property name="connection.pool_size">10</property>


        <!-- show mysql queries output in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- manage automatic database creation -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- add resources here -->
        <mapping resource="Cliente.hbm.xml"/>
        <mapping resource="Pais.hbm.xml"/>
        <mapping resource="Provincia.hbm.xml"/>
        <mapping resource="Localidad.hbm.xml"/>
        <mapping resource="Marca.hbm.xml"/>
        <mapping resource="Modelo.hbm.xml"/>
        <mapping resource="TipoCobertura.hbm.xml"/>
        <mapping resource="Poliza.hbm.xml"/>
        <mapping resource="Hijo.hbm.xml"/>
        <mapping resource="Cotizacion.hbm.xml"/>
        <mapping resource="Direccion.hbm.xml"/>
        <mapping resource="Cuota.hbm.xml"/>
        <mapping resource="HistorialValorLocalidad.hbm.xml"/>
        <mapping resource="HistorialValorTipoCobertura.hbm.xml"/>
        <mapping resource="HistorialValorModelo.hbm.xml"/>
        <mapping resource="Usuario.hbm.xml"/>
        <mapping resource="Pago.hbm.xml"/>
        <mapping resource="PagoCuota.hbm.xml"/>
        <mapping resource="Descuento.hbm.xml"/>
        <mapping resource="Recargo.hbm.xml"/>
        <mapping resource="Recibo.hbm.xml"/>

        
    </session-factory>
</hibernate-configuration>