<div class="row">      
  <div class="form-group col-sm-9 col-lg-3">
    <label class="pt-2" for="idpoliza">Póliza Nro.</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">#</div>
      </div>
      <input type="number" name="idpoliza" id="idpoliza" class="form-control">
    </div>
  </div>
  <div class="form-group col-sm-9 col-lg-9">
    <label class="pt-2" for="cliente">Cliente</label>
    <div class="input-group">
      <input type="text" name="cliente" id="cliente" class="form-control">
    </div>
  </div>
  <div class="form-group col-sm-9 col-lg-4">
    <label class="pt-2" for="marca">Vehículo</label>
    
    <select class="form-control" id="marca">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group col-sm-9 col-lg-4">
    <label class="pt-2" for="modelo">Modelo</label>
    <select class="form-control" id="modelo">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group col-sm-9 col-lg-4">
    <label class="pt-2" for="patente">Patente</label>
    <input type="date" name="patente" id="patente" class="form-control">
  </div>
  <div class="form-group col-sm-9 col-lg-6">
    <label class="pt-2" for="iniciovigencia">Inicio de vigencia</label>
    <input type="date" name="iniciovigencia" id="iniciovigencia" class="form-control">
  </div>
  <div class="form-group col-sm-9 col-lg-6">
    <label class="pt-2" for="fechavigencia">Fin de vigencia</label>
    <input type="date" name="fechavigencia" id="fechavigencia" class="form-control">
  </div>
  <div class="form-group col-sm-9 col-lg-6">
    <label class="pt-2" for="fechavigencia">Fin de vigencia</label>
	<div class="form-check">
	  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
	  <label class="form-check-label" for="defaultCheck1">
	    Default checkbox
	  </label>
	</div>
	<div class="form-check">
	  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
	  <label class="form-check-label" for="defaultCheck2">
	    Disabled checkbox
	  </label>
	</div>
  </div>
</div>
