<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2>{{ title }}</h2>
</div>

<form #cpForm="ngForm" [formGroup]="consultarPolizaForm" (ngSubmit)="onSubmit(cpForm)">
	<div class="row">
		<div class="form-group col-sm-9 col-lg-3">
			<label class="pt-2" for="idPoliza">Póliza Nro.</label>
			<div class="input-group">
		  		<div class="input-group-prepend">
					<div class="input-group-text">#</div>
		  		</div>
		  		<input type="number" formControlName="idPoliza" name="idPoliza" id="idPoliza" class="form-control">
			</div>
		</div>
		
		<div class="form-group col-sm-9 col-lg-9">
			<label class="pt-2" for="apellido">Apellido del cliente</label>
			<div class="input-group">
		  		<input type="text" formControlName="apellido" name="apellido" id="apellido" class="form-control">
			</div>
		</div>
	  	
	  	<div class="form-group col-sm-9 col-lg-4">
			<label class="control-label pt-2" for="marca">Marca del vehículo</label>
			<div class="input-group">
				<select formControlName="marca" name="marca" class="form-control mb-1">
					<option id="selectMarca{{marca.idMarca}}" value="{{ marca.idMarca }}" *ngFor="let marca of marcas">{{ marca.nombre }}</option>
				</select>
			</div>
		</div>

		<div class="form-group col-sm-9 col-lg-4">
			<label class="control-label pt-2" for="modelo">Modelo</label>
			<div class="input-group">
				<select formControlName="modelo" name="modelo" class="form-control mb-1">
					<option id="selectModelo{{modelo.idModelo}}" value="{{ modelo.idModelo }}" *ngFor="let modelo of modelos" >{{ modelo.nombre }}</option>
				</select>
			</div>
		</div>
	  
		<div class="form-group col-sm-9 col-lg-4">
			<label class="pt-2" for="patente">Patente del vehículo</label>
			<div class="input-group">
				<input formControlName="patente" (input)="convertToUppercase('patente')" type="text" name="patente" id="patente" class="form-control">
			</div>
		</div>
	  
		<div class="form-group col-sm-9 col-lg-4">
			<label class="pt-2" for="inicioVigencia">Inicio de vigencia</label>
			<input type="date" formControlName="inicioVigencia" name="inicioVigencia" id="inicioVigencia" class="form-control">
		</div>
		
		<div class="form-group col-sm-9 col-lg-4">
			<label class="pt-2" for="finVigencia">Fin de vigencia</label>
			<input type="date" formControlName="finVigencia" name="finVigencia" id="finVigencia" class="form-control">
		</div>

		<div class="form-group col-sm-9 col-lg-4">
			<label class="control-label pt-2" for="estadoPoliza">Estado de la póliza</label>
			<div class="input-group">
				<select name="estadoPoliza" class="form-control" formControlName="estadoPoliza" id="estadoPoliza">
					<option value="TODAS">Todas</option>
					<option value="{{ enum.key }}" *ngFor="let enum of EstadoPoliza | keyvalue">{{ enum.value }}</option>
			</select>
			</div>
		</div>

		<button [disabled]="!isValidForm(cpForm) || !consultarPolizaForm.valid || !loadingService.isHidden()" type="submit" class="btn btn-primary ml-auto pull-right" id="consultarPoliza">Buscar</button>
	</div>
</form>

<div *ngIf="this.results.length" class="table-responsive mt-4">
	<table class="table">
		<thead>
			<tr>
				<th>Nro. póliza</th>
				<th>Apellido(s) y nombre(s) del cliente</th>
				<th>Vehículo</th>
				<th>Patente</th>
				<th>Motor</th>
				<th>Chasis</th>
				<th>Vigencia</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>99-99999999</td>
				<td>Ferraro Trivelli, Giovani</td>
				<td>Fiat UNO (2005)</td>
				<td>MKB234</td>
				<td>AAAAAAAAAAAAAAAAA</td>
				<td>AAAAAAAAAAAAAAAAA</td>
				<td>01/01/2010 - 01/01/2020</td>
				<td>Activo</td>
			</tr>
		</tbody>
	</table>

	<div>
	  <ul class="pagination justify-content-center">
	    <li class="page-item disabled">
	      <a class="page-link" href="#">&laquo;</a>
	    </li>
	    <li class="page-item active">
	      <a class="page-link" href="#">1</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">2</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">3</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">4</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">5</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">&raquo;</a>
	    </li>
	  </ul>
	</div>
</div>
